/* Default layout for phone displays */

html {
    font-family: Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}

.footer-container {
    display: flex;
    flex-flow: column;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-heart {
    display: none;
}

.footer span {
    margin-right: 1rem;
}

.header {
    margin-bottom: 1.5em;
}

.pagination {
    justify-content: center;
    padding-bottom: 1.45rem;
}

.element-sticky {
    position: sticky; 
    top: 0px;
    z-index:100;
}

.flex-header {
    display: flex;
    flex-flow: row nowrap;
    background: #ffffff;
}

.event-title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin-left:20px;
}

.event-logo {
    padding-top:2px;
    padding-left:1px;
}

.event-logo img {
    max-width:50px;
}

.insideTrack-title {
    margin-bottom: .3em;
    line-height: 1;
    font-size: 24px;
}

.insideTrack-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;

}

.insideTrack-desktop-hidden {
    display: flex;
}

.insideTrack-mobile-hidden {
    display: none;
}

.insideTrack-videoWrapper {
    display: flex;
    flex-flow: column nowrap;
}

.insideTrack-identity {
    display: flex;
    flex-flow: row nowrap;
    padding:20px 20px;
}

.insideTrack-logoWrapper {
    margin-right:20px;
}

.insideTrack-logoWrapper img {
    max-width:65px;
}

.big-icon {
    margin-right: .5em;
    width: 1.3em;
    height: 1.3em;
    margin-bottom: .2em;
}

.speaker-icon {
    margin-bottom: .2em;
    margin-left: .3em;
    margin-right: .3em;
    width: 1.0em;
    height: 1.0em;
}

.twitter-icon {
    color: #38A1F3;
}

.youtube-icon {
    color: #FF0000;
}

.link-icon {
    width: 1.1em;
    height: 1.1em;
    color: #212529;
}

.heart-icon {
    margin-left: .1em;
    margin-right: .1em;
    color: #FF5555;
}

.session-video {
    transition: all .2s ease-in-out;
}

.session-video:hover {
    transform: scale(1.03);
}

.card-deck .card.card-custom-style {
    width: 100%;
    min-width: 150px;
    border: 0;
    flex: 1 1 auto;
    margin: 0px 0px 20px 0px;
}

/* Phones */
@media screen and (min-width:480px) {
    .insideTrack-logoWrapper {
        margin-right:20px;
        margin-left:0;
        padding-left:0;
    }
    .insideTrack-identity {
        align-items: center;
    }
    .card-deck .card.card-custom-style {
        flex: 1 0 auto;
        max-width:50%;
        padding: 0px;
    }
}

/* iPad */
@media screen and (min-width: 760px) {
    .card-deck {
        padding: 6px 8px 0px 8px;
    }
    .card-deck .card.card-custom-style {
        flex: 1 0 auto;
        max-width:50%;
        padding: 0px 8px 0px 8px;
    }
    .insideTrack-view-more {
        max-width: 120px;
    }
    .footer-container {
        display: flex;
        flex-flow: row;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .footer-heart {
        display: block;
    }
}

/* iPad Pro & desktop */
@media screen and (min-width:1024px) {
    .card-deck .card.card-custom-style {
        max-width: 25%;
    }
    .insideTrack-desktop-hidden {
        display: none;
    }
    .insideTrack-mobile-hidden {
        display: flex;
    }
}

/* YouTube player sizes */
/* credits: https://coderwall.com/p/asqkpg/responsive-youtube-video-embeds */
@media (min-width: 992px) {
    .youtubevid {
        width: 1100px;
        height: 620px; /* 720px */
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .youtubevid {
        width: 640px;
        height: 360px; /* 480px */
    }
}

@media (min-width: 481px) and (max-width: 766px) {
    .youtubevid {
        width: 480px;
        height: 270px; /* 320px */
    }
}

@media (max-width: 480px) {
    .youtubevid {
        width: auto;
        height: 189px; /* 225px */
    }
}